# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large Temporary / Scratch Files
scratch/
*.log

# Extracted Raw Kaggle Images (Keep annotations.csv tracked)
data/kaggle_dataset/handwritten/
data/kaggle_dataset/historical/
data/kaggle_dataset/math/
